DATABASE_URL= postgresql://neondb_owner:npg_KNJkV0na5Uwi@ep-blue-dawn-ax87ixhj-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PORT=3000